.ui-button-success {
    margin-bottom: 20px;
}

.ui-button-success:hover {
    background-color:rgba(13,58,82,.85) !important;
    color: #ffffff !important;
}

.ui-progress-spinner {
    fill: yellow;
    stroke-width: 50px;
}

.signbutton {
    display: block;
    justify-content: center; 
    text-align: center;
    align-content: center;
    padding-top: 10px;
}

.bankbutton {
    display: flex;
    justify-content: center;
}

.button-sign {
    padding-bottom: 10px;
}