<p-growl [value]="msgs"></p-growl>

<div class="button-sign">
<button type="button"
                    (click)="confirm()"
                    pButton icon="fa fa-mobile" 
                    class="ui-button-primary" 
                    label="Signera med Mobilt BankID">
</button>
<button type="button"
                    (click)="BankID()"
                    pButton icon="fa fa-desktop" 
                    class="ui-button-primary" 
                    label="Signera med BankID">
</button>

<p-dialog   header="Signera dokumentet"
            [(visible)]="display"
            modal="modal"
            [width]="450"
            [responsive]="true"
            [closable]="true"
            [resizable]="false">
    <p>Ange ditt personnummer och starta sedan applikationen på din mobila enhet</p>
    <img src="https://www.bankid.com/_themes/bankid-www/img/logo1-default.svg" style="width: 25%;">
        <p-footer>
            <div class="signbutton">
            <p-inputMask
            mask="99999999-9999"
            placeholder="Pers.nummer(12 siffror)"
            slotChar="DDDDDDDD-NNNN"
            required="true"></p-inputMask>
            <button type="button" class="ui-button-success" pButton icon="" label="Nästa"></button> </div>
        </p-footer>
</p-dialog>
</div>