.ui-button-success {
    margin-bottom: 20px;
}

.ui-button-success:hover {
    background-color:rgba(13,58,82,.85) !important;
    color: #ffffff !important;
}

.ui-progress-spinner {
    fill: yellow;
    stroke-width: 50px;
}
