<div style="text-align:center">
    <div class="jumbotron">
      <h1>{{title}}</h1>
      <img src="http://oi65.tinypic.com/2rm2moi.jpg" style="width: 300px">
    </div>

<app-pdf-viewer></app-pdf-viewer>
<app-sign-document></app-sign-document>
</div>
<footer class="footer">
  <div class="jumbotron footer">
    <div class="footer-info">
    <img src="http://oi65.tinypic.com/2rm2moi.jpg" style="width: 300px">
  </div>
    <div class="footer-links">
    <a target="_blank" href="https://twitter.com/bjornlundeninfo"><i class="fa fa-twitter fa-3x"></i></a>
    <a target="_blank" href="https://instagram.com/bjornlundeninfo"><i class="fa fa-instagram fa-3x"></i></a>
    <a target="_blank" href="https://facebook.com/bjornlundeninfo"><i class="fa fa-facebook fa-3x"></i></a>
    <a target="_blank" href="https://www.linkedin.com/company/489175/"><i class="fa fa-linkedin fa-3x"></i></a>
    <a target="_blank" href="https://youtube.com/user/bjornlundeninfo"><i class="fa fa-youtube fa-3x"></i></a>
    <a target="_blank" href="mailto:info@blinfo.se"><i class="fa fa-envelope fa-3x"></i></a>
    </div>
  </div>
</footer>







