<div class="pdf-viewer">
        <div class="plusminus">
        <button mat-fab color="primary" (click)="incrementZoom(0.1)">
                <i class="fa fa-search-plus"></i>
        </button>
        <button mat-fab color="primary" (click)="incrementZoom(-0.1)">
                <i class="fa fa-search-minus"></i>
        </button><br>
        </div>
<pdf-viewer src="https://vadimdez.github.io/ng2-pdf-viewer/pdf-test.pdf"
            [zoom]="zoom"
            [(page)]="page"
            [show-all]="showAll"
></pdf-viewer>
</div>
        <button mat-button (click)="incrementPage(-1)">
            Föregående
        </button>
      
            <input [(ngModel)]="page"
                   [value]="page"
                   class="number-window"
                   type="number"
                   pattern="-?[0-9]*(\.[0-9]+)?"
                   id="pdf-page">
    
        <span *ngIf="pdf">of {{ pdf.numPages }}</span>
        
        <button mat-button (click)="incrementPage(1)">
            Nästa
        </button>
